node_modules

app/**/*.js
app/**/*.js.map

npm-debug.log

fonts/glyphicons-social-regular.eot
fonts/glyphicons-social-regular.svg
fonts/glyphicons-social-regular.ttf
fonts/glyphicons-social-regular.woff
fonts/glyphicons-social-regular.woff2
css/glyphicons-bootstrap.css
css/glyphicons-social.css

fonts/glyphicons-filetypes-regular.eot
fonts/glyphicons-filetypes-regular.svg
fonts/glyphicons-filetypes-regular.ttf
fonts/glyphicons-filetypes-regular.woff
fonts/glyphicons-filetypes-regular.woff2
css/glyphicons-filetypes.css