node_modules

manual/app/**/*.js
manual/app/**/*.js.map

npm-debug.log

manual/fonts/glyphicons-social-regular.eot
manual/fonts/glyphicons-social-regular.svg
manual/fonts/glyphicons-social-regular.ttf
manual/fonts/glyphicons-social-regular.woff
manual/fonts/glyphicons-social-regular.woff2
manual/css/glyphicons-bootstrap.css
manual/css/glyphicons-social.css

manual/fonts/glyphicons-filetypes-regular.eot
manual/fonts/glyphicons-filetypes-regular.svg
manual/fonts/glyphicons-filetypes-regular.ttf
manual/fonts/glyphicons-filetypes-regular.woff
manual/fonts/glyphicons-filetypes-regular.woff2
manual/css/glyphicons-filetypes.css