<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h2>Me <small>as a Developer</small></h2>
  <div>
    <p>I program on a Mac. I use IntelliJ. I save my stuff with Git. I deploy to Linux. I'll make a distributed system work on Docker.
      I am very proficient with Java. My favorite database is PostgreSQL. I have also worked with NoSQL, including Cassandra, HBase, and Amazon Dynamo.
      I understand the time that Ruby on Rails can save you when you're writing a database-driven form-based web application.
      If I need to write a complex script I would choose from Python or Ruby.
    <p>I love Ad Tech, and I developed my own performance Ad Server. Ask me about it. I love to talk about it.</p>
    <p>I love Data-Architecture and stream programming with Apache Flink.</p>
  </div>
  <h2>This Website</h2>
  <div>
    <a routerLink="/"><img alt="Website" width="144" src="assets/about/website-qr-code.svg" class="svg"></a>
    <p>I wrote this website. I wanted a website with a responsive design that
      separated the content of my resume from the actual display markup. Angular was the perfect choice for
      separating content from the display markup. In fact, my resume is available in the YAML format that drives
      this website. I achieved responsiveness by using Bootstrap.</p>
    <p>This website is available on <span class="fa fa-github"></span> Github at <a href="https://github.com/minmay/mvillalobos-website.git">https://github.com/minmay/mvillalobos-website.git</a></p>
  </div>
  <div class="well">
    <p>This website was implemented with the following technologies:
      HTML5, JavaScript, TypeScript, Angular 2, Bootstrap.</p>
    <img alt="Angular" src="assets/about/angular.svg" class="tech-img" >
    <img alt="Bootstrap" src="assets/about/bootstrap-solid.svg" class="tech-img">
    <img alt="TypeScript" src="assets/about/typescript.svg" class="tech-img">
  </div>
</div>
