body {
    margin-top: 70px;
}

.table > tr > td > img {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 50px;
}

.table > resume-entry> tr > td > img {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 50px;
}