@if (entry.logo) {
  <tr>
    <td colspan="3"><img class="resume-entry-img" src="assets/resume/images/{{entry.logo}}" border="0"/><p></p></td>
  </tr>
}
<tr>
  <td>{{entry.start}} - {{entry.end}}</td>
  <td><strong>{{entry.name}}</strong></td>
  <td>{{entry.location}}</td>
</tr>
<tr>
  <td colspan="3"><strong>{{entry.title}}</strong></td>
</tr>
<tr>
  <td colspan="3" class="resume-entry-info">
    @for (desc of entry.description; track desc) {
      <p>
        {{desc.prologue}}
      </p>
      @if (desc.accomplishments) {
        <ul>
          @for (accomplishment of desc.accomplishments; track accomplishment) {
            <li>{{accomplishment}}</li>
          }
        </ul>
      }
    }
  </td>
</tr>
<tr>
  <td colspan="3"><hr/></td>
</tr>
