<tr *ngIf="entry.logo">
  <td colspan="3"><img class="resume-entry-img" src="assets/resume/images/{{entry.logo}}" border="0"/><p></p></td>
</tr>
<tr>
  <td>{{entry.start}} - {{entry.end}}</td>
  <td><strong>{{entry.name}}</strong></td>
  <td>{{entry.location}}</td>
</tr>
<tr>
  <td colspan="3"><strong>{{entry.title}}</strong></td>
</tr>
<tr>
  <td colspan="3" class="resume-entry-info">
    <ng-template ngFor let-desc [ngForOf]="entry.description">
      <p>
      {{desc.prologue}}
      </p>
      <ul *ngIf="desc.accomplishments">
        <li *ngFor="let accomplishment of desc.accomplishments">{{accomplishment}}</li>
      </ul>
    </ng-template>
  </td>
</tr>
<tr>
  <td colspan="3"><hr/></td>
</tr>
